@model IEnumerable<CPSC571Project6.Models.TopicClass>

@{
    ViewData["Title"] = "Topics";
}

<h1>Topics</h1>

<p>
     @if (User.IsInRole("Admin"))
     {
        <a asp-action="Create">Create New</a>
     }
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Topic Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.subject_Name)
            </td>
            
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.rowno">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.rowno">View</a> |
                        <a asp-action="Delete" asp-route-id="@item.rowno">Delete</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-controller="Questionnaire" asp-action="Index" asp-route-id="@item.rowno">View</a>
                    </td>
                }
                
            
        </tr>
}
    </tbody>
</table>
