@model IEnumerable<CPSC571Project6.Models.QuestionnaireClass>

@{
    ViewData["Title"] = "Questionnaires";
}

<h1>Questionnaires</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create" asp-route-tID="@ViewBag.tID">Create New Questionnaire</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Questionnaire
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@for (int i = 0; i < Model.Count(); i++)  {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => Model.ToList()[i].title)
            </td>

            @if (User.IsInRole("Admin"))
            {
                <td>
                    <a asp-action="Edit" asp-route-id= "@Model.ToList()[i].id">Edit</a> |
                    <a asp-action="Delete" asp-route-id= "@Model.ToList()[i].id">Delete</a> |
                    <a asp-action="Analyze" asp-route-id="@Model.ToList()[i].id">Analyze</a>
                </td>
            }
            else
            {
                <td>
                    
                    @if (@ViewBag.completedList[i])
                    {
                        <a>Select</a> <a> | </a>
                        <label name="@Model.ToList()[i].id" class="rb" style="color:forestgreen; font:bold;" disabled =true>Completed</label> 
                    }
                    else
                    {
                        <a asp-action="Select" asp-route-id= "@Model.ToList()[i].id">Select</a> <a> | </a>
                        <label name="@Model.ToList()[i].id" class="rb" style="color:red; font:bold;">Incompleted</label> 
                    }
                </td>
            }

        </tr>
}

    </tbody>
</table>

<div>
    <a asp-controller="Home" asp-action="Topics">Back to Topics</a>
</div>