@page
@model CPSC571Project6.Views.V2.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TopicClass[0].subject_Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TopicClass) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.subject_Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.rowno">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.rowno">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.rowno">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
